/* layout tool apps - common */
html {
  min-width: 150px;
  max-width: 500px;
}

body {
  background-color: ;
}

#topbar {
  position: fixed;
  height: 7%;
  min-height: 100px;
  background-color: #090C02;
}

#bottombar {
  position: fixed;
  height: 7%;
  min-height: 100px;
}

#contentarea {
  margin-top: 10% 3% 10% 3%;
}

/* gridout specific */

/* Identity bar color */
#bottombar {
  background-color: #F9F6EF;
}
